<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <div class="container justify-content-center">
    </div>
</nav>



<div class="container mt-5">
    <div class="row mt-5 justify-content-center">

        <div class="col-6">
            <h2>RetroGames - SignIn</h2>
            <br><br>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input [(ngModel)]="user_input" name="user_input" type="email" class="form-control"
                        aria-describedby="emailHelp" placeholder="example@email.com"><br>
                    <label for="exampleInputEmail1">Password</label>
                    <input [(ngModel)]="pass_input" name="pass" type="password" class="form-control"
                        aria-describedby="emailHelp" placeholder="Password">
                </div> 
                
            </form>
            <br> 
                <button (click)="Ingresar()" type="submit" class="btn btn-primary btn-block">Iniciar Sesion</button>
                <button type="submit" class="btn btn-primary btn-block">Recuperar Contraseña</button>
                <button (click)="NewUser()" type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </div>


    </div>
</div>
