<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

        <div class="container justify-content-center">
        </div>
    </nav><br><br>
<body>

    <div class="container mt-5 card " style="width: 35rem;">
        <div class="row mt-1 md-1 ml-1 mr-1 justify-content-center bg-light">
            <div class="col mb-4 mt-4">
                <h2><b>RetroGames - SignIn</b></h2>
                <br><br>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input [(ngModel)]="user_input" name="user_input" type="email" class="form-control"
                            aria-describedby="emailHelp" placeholder="ExampleUser"><br>
                        <label for="exampleInputEmail1">Password</label>
                        <input [(ngModel)]="pass_input" name="pass" type="password" class="form-control"
                            aria-describedby="emailHelp" placeholder="Password">
                    </div>

                </form>
                <br>
                <button (click)="Ingresar()" type="submit" class="btn btn-primary btn-block">Iniciar Sesion</button>
                <button (click)="NewUser()" type="submit" class="btn btn-primary btn-block">Registrarse</button>
                <button [routerLink]="['/recover']" type="submit" class="btn btn-primary btn-block">¿Olvidó su
                    contraseña?</button>

            </div>

        </div>
        <br>
    </div>

    <br><br><br><br>
    <br><br><br>
</body>